:root{
    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal; 
}
.logo{
    margin-left: 40px;
    margin-top: 40px;
}
.frente{
    display: inline-block;
    width: 800px;
}
.input{
    display: block;
    resize: none;
    height: 400px;
    width: 700px;
    margin: 30px;
    padding: 10px;
    font-weight: 400;
    font-size: 32px;
    background-color: #E5E5E5;
    border-style: none;
    color: #0A3871;
}
.memo{
    display: inline-block;
    width: 250px;
    font-weight: 400;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
    margin: 0px 30px;
}
.memo:hover{
    font-weight: bold;
}
.encriptar{
    display: inline;
    padding: 24px;
    width: 330px;
    background: #0A3871;
    border-radius: 24px;
    margin: 10px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.desencriptar{
    display: inline;
    padding: 24px;
    width: 330px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 10px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.resultado{
    display: inline-block;
    justify-items: center;
    width: 400px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 800px;
}
.output{
    resize: none;
    width: 350px;
    height: 550px;
    margin: 25px;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border-style: none;
    font-weight: 400;
    font-size: 24px;
}
.copiar{
    display: none;
    position: relative;
    bottom: 110px;
    left: 60px;
    padding: 24px;
    width: 330px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
}
.blank{
    display: block;
    position: absolute;
    top: 50px;
    text-align: center;
    margin: 25px;
    padding: 25px;
}
.p1{  
    font-weight: 700;
    font-size: 24px;
    color: #342A40;
    margin: 16px;

}
.p2{
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    margin: 16px;
}

.copyright{
    font-family: 'Monaco';
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: grey;
    font-size: 10px;

}
.copyright:hover{
    font-weight: bold;
    color: black;
}