:root{
    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal; 
}
.logo{
    display: none;
    margin-left: 40px;
    margin-top: 40px;
}
.frente{
    max-width: 480px;
}
.input{
    resize: none;
    height: 300px;
    width: 90%;
    margin: 30px;
    padding: 10px;
    font-weight: 400;
    font-size: 32px;
    background-color: #E5E5E5;
    border-style: none;
    color: #0A3871;
}
.memo{
    width: 250px;
    font-weight: 400;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
    margin-left: 30px;
}
.memo:hover{
    font-weight: bold;
}
.encriptar{
    padding: 24px;
    width: 300px;
    background: #0A3871;
    border-radius: 24px;
    margin: 10px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.desencriptar{
    padding: 24px;
    width: 300px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 10px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.resultado{
    position: relative;
    text-align: center;
    width: 480px;
}
.output{
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 25px;
    background: #FFFFFF;
    resize: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border-style: none;
    font-weight: 400;
    font-size: 24px;
}
.copiar{
    display: none;
    position: absolute;
    bottom: 50px;
    left: 80px;
    padding: 24px;
    width: 300px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
}
.imagen{
    position: absolute;
    top: 50px;
    text-align: center;
    margin: 25px;
    padding: 25px;
}
.imagen img{
    display: none;
}
.p1{  
    font-weight: 700;
    font-size: 24px;
    color: #342A40;
    margin: 16px;

}
.p2{
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    margin: 16px;
}

.copyright{
    font-family: 'Monaco';
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: grey;
    font-size: 10px;

}
.copyright:hover{
    font-weight: bold;
    color: black;
}

@media screen and (min-width:1000px){
    .frente{
        max-width: 750px;
    }
    .frente, .resultado{
        display: inline-block;
    }
    
}

@media screen and (min-width:480px){
    .logo{
        display: block;
    }
    .output{
        height: 600px;
    }
    .imagen img{
        display: block;
    }
}